{% extends "base.html" %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('trainer_dashboard') }}">FitTrack Trainer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'trainer_dashboard' %}active{% endif %}" href="{{ url_for('trainer_dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'trainer_bookings' %}active{% endif %}" href="{{ url_for('trainer_bookings') }}">All Bookings</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <span class="navbar-text me-3">
                        Logged in as: <strong>{{ session.username }}</strong>
                    </span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}