{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-5 col-lg-4">
        <h2 class="mb-5 text-center">FitTrack Login</h2>
        
        <form class="text-center" method="post">
            <!-- <div class="mb-3">
                <label class="form-label">Role</label>
                <select name="role" class="form-select" required>
                    <option value="admin">Admin</option>
                    <option value="member">Member</option>
                    <option value="trainer">Trainer</option>
                </select>
            </div> -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="admin" required>
                    <label class="form-check-label" for="inlineRadio1">admin</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="member">
                    <label class="form-check-label" for="inlineRadio2">member</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="role" id="inlineRadio3" value="trainer">
                    <label class="form-check-label" for="inlineRadio3">trainer</label>
                    </div> 
                    <br><br>
            <div class="mb-3 col-md-8 mx-auto">
                <!-- <label class="form-label">Username</label> -->
                <input name="username" class="form-control rounded-0" placeholder="Username" required>
            </div>
            <div class="mb-3 col-md-8 mx-auto">
                <!-- <label class="form-label">Password</label> -->
                <input name="password" type="password" class="form-control rounded-0" placeholder="Password" required>
            </div>
            <div class="col-md-8 mx-auto">
                <button class="btn btn-primary w-100 rounded-0">Login</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
